{#
/**
 * @file
 * SACDA theme front page template.
 * Extends the base page layout and overrides just the main content.
 */
#}
{% extends '@sacda/layout/page.html.twig' %}

{% block main %}
	<main role="main" class="front-page w-full pb-[100vh]">
		<a id="main-content" tabindex="-1"></a>

		{# Full-width carousel #}
		<div class="w-full">
			{% include '@sacda/blocks/sacda-carousel.html.twig' with {
			slides: carousel_slides,
			autoplay_speed: carousel_autoplay_speed
		} %}
		</div>

		{# Content with container #}
		<div class="container mx-auto px-4">
			{{ page.content }}
		</div>

	</main>
{% endblock %}
