{#
/**
* @file
* Theme override to display a single page.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
* - logged_in: A flag indicating if user is logged in.
* - is_admin: A flag indicating if user is an admin.
* - page: Full page object with regions.
*/
#}
<div id="svelte-landing-page-mount"></div>
