{#
/**
 * @file
 * SACDA theme front page template.
 * Extends the base page layout and overrides just the main content.
 */
#}
{% extends '@sacda/layout/page.html.twig' %}

{% block main %}
	<main role="main" class="front-page">
		<a id="main-content" tabindex="-1"></a>

		{% include '@sacda/blocks/sacda-carousel.html.twig' with {
		slides: carousel_slides,
		autoplay_speed: carousel_autoplay_speed
	} %}

		{# Add more front page sections here #}
		{{ page.content }}

	</main>
{% endblock %}
