{#
/**
 * @file
 * Theme override for views grid - Collections landing page.
 * 
 * Uses collection__grid and collection__item classes for legacy SACDA styling.
 */
#}
<div class="collection__grid">
	{% for row in items %}
		{% for column in row.content %}
			<div class="collection__item">
				{{ column.content }}
			</div>
		{% endfor %}
	{% endfor %}
</div>
