{#
/**
 * @file
 * Theme override for Solr Search Content view - grid wrapper.
 */
#}
<div class="search-results-grid">
	{% for row in rows %}
		<div class="search-result-item">
			{{ row.content }}
		</div>
	{% endfor %}
</div>
