{#
/**
 * @file
 * SACDA Solr Search Content Block
 * 
 * Custom styling for the "Search within Collection" block.
 */
#}

{% block content %}
	<div class="[&_.views-exposed-form]:flex [&_.views-exposed-form]:flex-wrap [&_.views-exposed-form]:items-end [&_.views-exposed-form]:gap-4 [&_.views-exposed-form]:py-4 [&_.views-exposed-form]:mb-6 [&_.form-item]:flex [&_.form-item]:flex-col [&_.form-item]:gap-1 [&_.form-item_label]:text-xs [&_.form-item_label]:font-medium [&_.form-item_label]:text-muted-foreground [&_.form-item_label]:uppercase [&_.form-item_label]:tracking-wide [&_.form-select]:px-3 [&_.form-select]:py-2 [&_.form-select]:border [&_.form-select]:border-border [&_.form-select]:bg-background [&_.form-select]:text-sm [&_.form-select]:text-foreground [&_.form-submit]:px-4 [&_.form-submit]:py-2 [&_.form-submit]:bg-primary [&_.form-submit]:text-white [&_.form-submit]:font-medium [&_.form-submit]:text-sm [&_.form-submit]:uppercase [&_.form-submit]:tracking-wide [&_.form-submit]:border-0 [&_.form-submit]:cursor-pointer [&_.form-submit]:transition-colors [&_.form-submit:hover]:bg-primary/90">
		{{ content }}
	</div>
{% endblock %}
