{#
/**
 * @file
 * SACDA Tabs Block
 * 
 * Renders Drupal tabs as rectangular action buttons.
 * Styles defined in _system.css
 */
#}
<nav class="sacda-tabs-block py-4 mb-6" aria-label="{{ 'Tabs'|t }}">
	{{ content }}
</nav>
