{#
/**
 * @file
 * SACDA Solr Search Content Block
 * 
 * Custom styling for the "Search within Collection" block.
 * Styles defined in _system.css
 */
#}
<div{{attributes.addClass('sacda-search-block','my-8')}}>
	{% if label %}
		<h2 class="sacda-search-block__title text-2xl font-bold text-foreground mb-6 pb-3 border-b-2 border-primary">
			{{ label }}
		</h2>
	{% endif %}

	{% block content %}
		<div class="sacda-search-block__content">
			{{ content }}
		</div>
	{% endblock %}
</div>
