{#
/**
 * @file
 * SACDA theme's page template - overrides Olivero to use custom header/footer.
 * Keeps the main content area intact from Olivero.
 */
#}

<div id="page-wrapper" class="page-wrapper">
	<div id="page">

		{# MOBILE HEADER (shown < 768px) #}
		{% include '@sacda/navigation/mobile-header.html.twig' with { is_front: is_front } %}

		{# DESKTOP HEADER (shown >= 768px) #}
		{% include '@sacda/navigation/header.html.twig' with { is_front: is_front } %}

		{% block main %}
			<div id="main-wrapper" class="layout-main-wrapper layout-container">
				<div class="main-content w-full">
					<a id="main-content" tabindex="-1"></a>
					{% block hero %}
						{# Render Global Hero from Page Preprocess #}
						<script>
							console.log('hero_data:', {{ hero_data|json_encode|raw }});
						</script>
						{% if hero_data %}
							{% import '@sacda/macros/hero.twig' as hero %}
							{% if hero_data.image %}
								{{ hero.section(hero_data) }}
							{% endif %}
						{% endif %}
					{% endblock %}
					{{ page.content_top }}
					<main role="main">
						{{ page.content }}
					</main>
				</div>
			</div>
		{% endblock %}

		{# FOOTER #}
		{% include '@sacda/navigation/footer.html.twig' %}

		<div class="overlay" data-drupal-selector="overlay"></div>

	</div>
</div>
