{#
/**
 * @file
 * Override for content region - removes Olivero's wrapper constraints.
 */
#}
{% if content %}
	<div class="region-content_top max-w-5xl mx-auto px-4 md:px-16">
		{{ content }}
	</div>
{% endif %}
